body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
background-color: #f0f2f5; /* 연한 회색 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.gallery img {
    width: calc(33.33% - 20px);
}
.floating-cta {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-cta .btn {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056B3;
    cursor: pointer;
}
.event-details {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

.event-details p {
	font-weight: bold;
    margin: 0.5rem 0;
}
